/* Global */
:root{
    --primay-font: "Rubik";
}
p{
    font-family: var(--primay-font);
}


/* Header */
header{
    text-align: center;
}

.title{
    font-size: 3rem;
    font-family: var(--primay-font);
    font-weight: 500;
}

.statement{
    margin-top: -1.25rem;
    font-family: var(--primay-font);
    font-weight: 400;
    font-style: italic;
}


/* Main */
.form{
    display: grid;
    justify-content: center;
    margin-top: 6rem;
}

.operation{
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 1.75rem;
}

.input{
    height: 2.75rem;
    font-size: 1.2rem;
    padding-left: .25rem;
}
.input::placeholder{
    font-size: .9rem;
    font-family: var(--primay-font);
    padding-left: .25rem;
}

.button{
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: .5rem;
    background-color: rgb(91, 168, 255);
    border: solid 1px black;
    border-radius: .5rem;
}
.button:hover{
    cursor: pointer;
}